<!doctype html>
<html>
    <head>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>SSHranking</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='new.css') }}">
    </head>

    <body>
        <div id="topLogo"><img src="{{ url_for('static', filename='logo.png') }}" height=100></div>
        <h1>SSH Ranking!</h1>
<h2>
{% if subhead == 'all' -%}
All time
{% elif subhead == 'week' -%}
7 days
{% elif subhead == 'main' -%}
Hi.
{% elif subhead == '30day' -%}
Last 30 days
{% elif subhead =='24hr' -%}
Last 24 hours
{% elif subhead == 'about' -%}
About this website.
{% elif subhead == 'ipinfo' -%}
IP info for {{ ip }}
{% elif subhead == 'users' -%}
Info page for {{ user }}
{% else -%}
404'd
{% endif %}
</h2>

<div id="roundbar-grey">
    <ul>
        <li class="active"><a href="/ssh_rank/lists/all">All Time</a></li>
        <li class="active"><a href="/ssh_rank/lists/week">7 days</a></li>
        <li class="active"><a href="/ssh_rank/lists/30day">30 days</a></li>
        <li class="active"><a href="/about">About.</a></li>
        <li class="active"><a href="https://github.com/pronto/SSH-Ranking" target="_blank">GitHub Repo</a></li>
    </ul>
</div>
<div id="box">
