<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN">

<html>
    <head>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>SSHRanking</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='new.css') }}">
    </head>

    <body>
        <div id="topLogoRight"><img src="{{ url_for('static', filename='logo.png') }}" height=100></div>

        <div id="topLogo"><a target="_blank" href="/"><img src="{{ url_for('static', filename='Peter_Sellers.jpg') }}" height=100></a></div>
        <h1>SSH Ranking!</h1>
        <h2>
{% if subhead == 'all' -%}
All time
{% elif subhead == 'week' -%}
7 days
{% elif subhead == 'main' -%}
Hi.
{% elif subhead == '30day' -%}
Last 30 days
{% elif subhead =='24hr' -%}
Last 24 hours
{% elif subhead == 'about' -%}
About this website.
{% elif subhead == 'ipinfo' -%}
IP info for {{ ip }}
{% elif subhead == 'users' -%}
Info page for {{ user }}
{% elif subhead == 'userlist' -%}
List of all attempted users
{% elif subhead == 'tree' -%}
Tree list for {{ ip }}{{ user}}
{% elif subhead == '2pip' %}
users with 2+ IP's
{% elif subhead == 'port search' -%}
port search: {{num}}
{% elif subhead == 'service search' -%}
service search: {{num}}
{% elif subhead == 'service listing' -%}
List of all services
{% elif subhead == 'port listing' -%}
List of all ports
{% elif subhead == 'IPs nmap' -%}
List of IPs with nmap scans
{% elif subhead == 'screens' -%}
Screenshots of HTTP
{% else -%}
404'd | {{subhead}}
{% endif %}
</h2>

<div id="roundbar-grey">
    <ul>
        <li class="active"><a href="/ssh_rank/lists/all">{All Time</a></li>
        <li class="active"><a href="/ssh_rank/lists/30day">30d</a></li>
        <li class="active"><a href="/ssh_rank/lists/week">7d</a></li>
        <li class="active"><a href="/ssh_rank/lists/24hr">24hr}</a></li>
        <li class="active"><a href="/ssh_rank/users/letter">{All Users</a></li>
        <li class="active"><a href="/ssh_rank/users/attempts">Users/Total</a></li>
        <li class="active"><a title="This page is going to be slow loading" href="/ssh_rank/user2p">Users/#of IPs}</a></li>
        <li class="active"><a href="/about">{About</a></li>
        <li class="active"><a href="https://github.com/pronto/SSH-Ranking" target="_blank">GitHub Repo}</a></li>
    </ul>
</div>
<div id="roundbar-grey">
    <ul>
        <li class="test"><a href="/ssh_rank/service_list">Service listing</a></li>
        <li class="test"><a href="/ssh_rank/port_list">Port listing</a></li>
        <li class="test"><a href="/ssh_rank/nmapIPs">Scanned IPs</a></li>
        <li class="test"><a href="/ssh_rank/screenshots">Screenshots of HTTP</a></li>
    </ul>
</div>

<div id="box">
    <p id='noticebox' align=center>notice: <a href="https://duckduckgo.com/tty/#q=celery">Celery</a> is tasty.</p>
