{% include 'header.html' %}
<div id="leftbar">
    <p> dates/times attempted:</p><p>.</p>
<pre>
year:mon<br>
--------> day - attemps/day<br>
{% for year, year_group in dates|groupby('year') -%}
{% for month, month_list in year_group|groupby('month') -%}
{{year}}:{{month}}
{% for day , day_list in month_list|groupby('day') -%}
------->{{'%03s' % day}} -  {{'%05s' % day_list|count}}
{%endfor-%}
{% endfor -%}
{%endfor -%}
</pre>
</div>




<div id="content">
    <p><a href="/ssh_rank/tree/ip/{{ip}}">Tree view for {{ ip }}</a></p>
<p>Attempted users: </p>
<pre>
{% for user in users-%} 
<b><a href="/ssh_rank/user/{{user[0]}}">{{ user[0] }}</a></b>:{{user[1]-}}, {% endfor -%}
</pre>
</div>
{% include 'footer.html' %}
