{% include 'header.html' %}
<div id="leftbar">
    <p> dates/times attempted:</p><p>.</p>
<pre>
year:mon<br>
--------> day - attemps/day<br>
{% for year, year_group in dates|groupby('year') -%}
{% for month, month_list in year_group|groupby('month') -%}
{{year}}:{{month}}
{% for day , day_list in month_list|groupby('day') -%}
------->{{'%03s' % day}} -  {{'%05s' % day_list|count}}
{%endfor-%}
{% endfor -%}
{%endfor -%}
</pre>
</div>




<div id="content">
    <p><a href="/ssh_rank/tree/ip/{{ip}}">Tree view for {{ ip }}</a></p>
    <p>RDNS: 
    {% if rdns_res == [] -%}
    not checked
    {% else -%}
    <b>{{rdns_res[0].rdns}}{% endif -%}</b></p>
    {% if hasnmap == True -%}
    <p> nmap scans: </p>
    <font color=gray>
    <table border="1" width=100%>
    <tr><th>time</th><th>port#</th><th>state</th><th>proto</th><th>service</th><th>verinfo</th></tr>
    {% for port in nmapstuff -%}
    <tr>
        <td>{{port.dtime}}</td><td><a href="/ssh_rank/port/{{port.portnum}}">{{port.portnum}}</a></td><td>
        {% if port.state == "open" -%}<b><font color=green>{% endif %} 
        {{port.state}}</td>
    <td>{{port.proto}}</td><td>{{port.service}}</td><td>{{port.verinfo}}</td> 
    </tr>
    {% endfor -%}
    </table>
</font>
    {% endif -%}    
    <p>Attempted users: </p>
<pre>
{% for user in users-%} 
<b><a href="/ssh_rank/user/{{user[0]}}">{{ user[0] }}</a></b>:{{user[1]-}}, {% endfor -%}
</pre>
</div>
{% include 'footer.html' %}
