
<code>
    oh hi || <hr>
    <a href="https://github.com/pronto/SSH-Ranking">more info on the gihub</a>

    <ol>
    {% autoescape false %}
    {% for ip in uniq_ips %}
    {% set rowip = ip[0] %}
    <li><b>{{ ip[0] }}</b> attempted <b>{{ ip[1] }}</b> times </li>
    with users:
    {% for user in lollist %}
        {% if user[0][0] == rowip %}
            <b>{{ user[1] }}</b>:<b>{{ user[2] }}</b>
        {% endif %}
    {% endfor %}

    </br>
    </br>
    {% endfor %}

    <hr>
    {% endautoescape %}
</ol>
<hr>


