

<table class='gridtable'>
    <tr>
        <th>IP</th>
        <th>Attempts</th>
        <th>rdns</th>
        <th>geoIP/Last attempt</th>
    </tr>
    {% set tableid=cycler('table2','table1') %}
    {% for ip in uniq_ips -%}
    {% set rowip = ip[0] -%}
<tbody id='{{tableid.next()}}'>
    <tr>
        <td><b><a href="/ssh_rank/ip_info/{{ ip[0]}}">{{ ip[0] }}</a>
                | <a href="/ssh_rank/tree/ip/{{ ip[0] }}" title="Tree View" >(t)</a>
        </b> </td>
        <td><b>{{ip[1]}}</b></td>
        <td>      {% for res in alldns -%}
                {% if res.ip == rowip -%}
                    {% if res.good != '-' %}
                        <b>{{res.rdns}} </b>is  
                        {% if res.good == 'good' -%}
                            <font color='green'>
                        {% else -%}
                            <font color='#8B0000'>
                        {% endif -%}
                        <b> {{ res.good }}</b>
                            </font>
                    {% endif -%}
                {% endif -%}
            {% endfor -%}

        </td>
        <td><font size="-5">the moon</font></td>
   </tr>
   <tr >
        <td>Users:</td>
        <td colspan="2">{% for user in userlist -%}
                {% if user[0][0] == rowip -%}
                <b><a href="/ssh_rank/user/{{ user[1] }}">{{ user[1] }}</a></b>:{{user[2]}}
                {% endif -%}
                {% endfor -%} 
        </td>
        <td>
         last attempt: {% for lasta in datelist -%}
                {% if lasta[0] == ip[0] -%}
                    {% if lasta[1] == newest -%}
                    <div class="newest"><b>{{ lasta[1] }} </b></div>
                    {% else %}
                        <b>{{ lasta[1] }}</b>
                        {% endif -%}
                {% endif -%}
                {% endfor -%}

        </td>
     </tr> </tbody> {% endfor -%}
</table>
<hr>

